<div class='container'>
<h1>Make a New Post<h2>

<form id="new-post" action="/posts" method="POST">
  <%= erb :_form_fields, layout: false %>
  <input type="submit" value="Submit Post">
</form>
</div>
